.home {
  position: relative;
}

.homePage {
  width: 100%;
}

.homePage > img {
  width: inherit;
  height: 99.66vh;
}

.overlayText {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.overlayText > h1 {
  font-size: 3.5rem;
  margin-bottom: 5px;
}

.overlayText > h3 {
  margin: 5px 0;
  font-size: 2.5rem;
}

.overlayText > p {
  max-width: 500px;
  font-size: 20px;
  /* color: #017de2; */
  /* color: #4e0ce9; */
}

.overlayText > button:focus {
  outline: none;
}

.overlayText > button:hover {
  background-color: #009ccc;
  text-shadow: none;
}

.overlayText > button {
  background-color: unset;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
  border: 2px solid white;
  box-shadow: 2px 2px 4px #000000;
}

.homeNavbar {
  position: absolute;
  top: 0;
  justify-content: flex-end !important;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
  background-color: unset !important;
}

.homeNavbar > a {
  color: white !important;
  font-weight: bolder;
  font-size: 20px;
  border: none !important;
}

.homeNavbar > a:hover {
  border-bottom: 2px solid white !important;
  text-shadow: 2px 2px 4px #000000;
}

.shoes {
  display: none;
  position: absolute;
  bottom: -40%;
  left: 45%;
  width: 175px;
  height: 175px;
}

@media screen and (max-width: 600px) {
  .homeNavbar {
    background-color: #29b6f6 !important;
    padding: 0;
    padding-top: 5px;
  }
  .overlayText > h1 {
    font-size: 2.5rem;
  }

  .overlayText > h3 {
    font-size: 1.5rem;
  }

  .overlayText > p {
    max-width: 300px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    font-size: 16px;
    color: white;
  }

  .homePage {
    width: 100%;
    overflow: hidden;
  }

  .homePage > img {
    height: 99.66vh;
    width: unset;
  }

  .shoes {
    display: block;
  }
}
