.contact {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1.3px;
  position: relative;
}
.alert {
  background-color: green;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
  position: fixed;
  top: 0;
  opacity: 0.8;
  box-shadow: 2px 2px 4px grey;
  width: 39.5%;
}

input {
  margin: 20px auto;
  display: block;
  width: -webkit-fill-available;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #4e0ce9;
  border-radius: 5px;
  color: #017de2;
}

input:focus {
  outline: none;
  background-color: #ddf3f8;
}

input[type="submit"] {
  background-color: #4e0ce9;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 2px 2px 4px grey;
  text-shadow: 2px 2px 4px #000000;
}

.contact > h1 {
  color: rgb(22, 134, 209);
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.contact > p {
  font-size: 20px;
}

.blob3 {
  position: absolute;
  top: 5%;
  width: 400px;
  left: -55%;
  transform: rotate(90deg);
  z-index: 10;
}

.blob4 {
  position: absolute;
  top: 0;
  width: 500px;
  left: -70%;
}

.blob1c {
  position: absolute;
  bottom: -20%;
  width: 300px;
  transform: scale(1.2) rotate(-45deg);
  right: -50%;
}

@media screen and (max-width: 800px) {
  .contact {
    overflow: hidden;
  }
  .blob3,
  .blob4,
  .blob1c {
    display: none;
  }
}
